Typejector.sln
Typejector.v12.suo
/**/*.csproj.user
/**/bin/*
/**/obj/*
/Typejector/Core/**/*.d.ts
/Typejector/Core/**/*.js
/Typejector/Core/**/*.js.map
/Typejector/MEF/**/*.d.ts
/Typejector/MEF/**/*.js
/Typejector/MEF/**/*.js.map
/.vs/config/applicationhost.config
/**/node_modules/*
/Typejector/gulpfile.js
/Typejector/package.json
/Test/gulpfile.js
/Test/package.json
/.vs/*
/.idea/*
/.settings/*
/npm-debug.log
/archive.zip
/**/web.Debug.config
/**/web.Release.config
/**/web.config
/packages/*
*.csproj
/**/*.sln.*
/**/packages.config
