Typejector.sln
Typejector.v12.suo
Typejector/Typejector.csproj.user
Typejector/app.js
Typejector/app.js.map
Typejector/app.d.ts
Typejector/bin/*
Typejector/obj/*
/Typejector/Core/**/*.d.ts
/Typejector/Core/**/*.js
/Typejector/Core/**/*.js.map
/Typejector/MEF/**/*.d.ts
/Typejector/MEF/**/*.js
/Typejector/MEF/**/*.js.map
/Typejector/app.d.ts
/Typejector/node_modules/*
/.vs/config/applicationhost.config
/node_modules
/Typejector/gulpfile.js
/Typejector/package.json
/.vs/*
/.idea/*
/.settings/*
/npm-debug.log
/.vscode/*
/archive.zip
Typejector/web.Debug.config
Typejector/web.Release.config
Typejector/web.config
*.csproj
